<%- include ("../partials/header") %>
<body>
  <%- include ("../partials/navbar") %>
  <div class="container">
    <div class="card">
      <div class="card-header">
        <h3>Pergunta numero: <%= pergunta.id %></h3>
      </div>
      <div class="card-body">
        <form method="POST" action="/responderPergunta" class="formulario">
          <label>Título</label>
          <input
            name="Titulo"
            type="text"
            placeholder="<%= pergunta.titulo%>"
            disabled
            class="form-control"
          />
          <label>Descrição</label>
          <textarea
            name="Descricao"
            disabled
            class="form-control"
            placeholder="<%= pergunta.descricao%>"
          ></textarea>

          <label>Resposta</label>
          <textarea
            name="Resposta"
            class="form-control"
            placeholder="Resposta"
          ></textarea>
          <input type="hidden" name="id" value="<%= pergunta.id%>" />
          <div class="buttonsPerguntar">
            <button type="submit" class="btn btn-success">Responder</button
            ><a href="/"
              ><button type="button" class="btn btn-primary">Voltar</button></a
            >
          </div>
        </form>

        <div class="respostas">
          <% if (resposta != "") { %>
          <h3>Respostas</h3>
          <% for (let x of resposta) { %>
          <div class="card">
            <div class="card-body">
              <p class="card-text"><%= x.resposta %></p>
              <p class="footerTempo">
                data de criação <%= formatarData(x.createdAt) %>
              </p>
            </div>
          </div>
          <% } %> <% } else {%>
          <h3 class="RespostaVazia">Não há respostas para esta pergunta</h3>
          <% } %>
        </div>
      </div>
    </div>
  </div>
</body>
<%- include ("../partials/footer") %>
